## Assignment 2
### Senan Gaffori, 20949022
### Ayush Bhargava, 20889700

## In Class Practice Problems

**Practice 1**

In [5]:
import geopy.distance

# Tuple w/ coordinates 
location0 = (25.03, 121.56)
location1 = (22.33, 120.41)

print("Latitude: ", location0[0], "\nLongitude: ", location0[1])

total_location_a = location0 + location1
print(total_location_a)

total_location_b = (location0, location1)
print(total_location_b)
print("location0: ", total_location_b[0])
print("location1: ", total_location_b[1])
print("location0_latitude: ", total_location_b[0][0])
print("location0_longitude: ", total_location_b[0][1])
print("location1_latitude: ", total_location_b[1][0])
print("location1_longitude: ", total_location_b[1][1])

distance = geopy.distance.geodesic(location0, location1).km
print("Distance: ", distance)
print("Distance_roundup: ", int(distance))

for idx, (lat, lon) in enumerate(total_location_b):
    print(f"Location {idx}: Latitude = {lat}, Longitude = {lon}")

Latitude:  25.03
Longitude:  121.56
(25.03, 121.56, 22.33, 120.41)
((25.03, 121.56), (22.33, 120.41))
location0:  (25.03, 121.56)
location1:  (22.33, 120.41)
location0_latitude:  25.03
location0_longitude:  121.56
location1_latitude:  22.33
location1_longitude:  120.41
Distance:  321.21288072085764
Distance_roundup:  321
Location 0: Latitude = 25.03, Longitude = 121.56
Location 1: Latitude = 22.33, Longitude = 120.41

**Practice 2.1 and 2.2**

In [6]:
# 1.1

scores = [[85,90,88],[78,81,85],[92,89,95]]

courses = ["MS211" , "MS434" , "MS531"]

print("Scores for MS211: ", scores[0])

print("Scores for MS434 Test 2: ", scores[1][1])

#iterare through scores amd calculate average
for i, course_scores in enumerate(scores):
    course = courses[i]
    average_score = sum(course_scores) / len(course_scores)
    print(f"Average score for {course}: {average_score}")

#calculate average score for all courses
total_score = 0
for course_scores in scores:
    total_score += sum(course_scores)

#2.2

add_course = ["MS253", "MS334"]
courses2 = courses.copy()
courses2.append(add_course)
print("Courses: ", courses2)

courses2 = courses.copy()
courses2 += add_course
print("Courses: ", courses2)

courses2 = courses.copy()
courses2.extend(add_course)
print("Courses: ", courses2)

MS253_scores = [82,91,97]
MS334_scores = [88, 94, 85]

#Add to scores
scores.append(MS253_scores)
scores.append(MS334_scores)
print("Scores: ", scores)

Scores for MS211:  [85, 90, 88]
Scores for MS434 Test 2:  81
Average score for MS211: 87.66666666666667
Average score for MS434: 81.33333333333333
Average score for MS531: 92.0
Courses:  ['MS211', 'MS434', 'MS531', ['MS253', 'MS334']]
Courses:  ['MS211', 'MS434', 'MS531', 'MS253', 'MS334']
Courses:  ['MS211', 'MS434', 'MS531', 'MS253', 'MS334']
Scores:  [[85, 90, 88], [78, 81, 85], [92, 89, 95], [82, 91, 97], [88, 94, 85]]

**Practice 3**

In [7]:
scores = [[85,90,88],[78,81,85],[92,89,95]]
courses = ["MS211" , "MS434" , "MS531"]

course_scores = dict(zip(courses, scores))

print("Course Scores: ", course_scores)

add_course = ["MS253", "MS334"]
MS253_scores = [82,91,97]
MS334_scores = [88, 94, 85]

new_entries = {"MS253": MS253_scores}

course_scores.update(new_entries)
print("Course Scores: ", course_scores)

course_scores[add_course[1]] = MS334_scores
print("Course Scores: ", course_scores)

#Average score of first student
first_student_scores = scores[0]
average_score = sum(first_student_scores) / len(first_student_scores)
print("Average score of first student: ", average_score)

Course Scores:  {'MS211': [85, 90, 88], 'MS434': [78, 81, 85], 'MS531': [92, 89, 95]}
Course Scores:  {'MS211': [85, 90, 88], 'MS434': [78, 81, 85], 'MS531': [92, 89, 95], 'MS253': [82, 91, 97]}
Course Scores:  {'MS211': [85, 90, 88], 'MS434': [78, 81, 85], 'MS531': [92, 89, 95], 'MS253': [82, 91, 97], 'MS334': [88, 94, 85]}
Average score of first student:  87.66666666666667

**Practice 4**

In [8]:
import pandas as pd
from IPython.display import display
course_scores = {
    "MS211": [85,90,88],
    "MS434": [78,81,85],
    "MS531": [92,89,95],
    "MS253": [82,91,97],
    "MS334": [88,94,85]
}

df = pd.DataFrame(course_scores)

df.index = ["Student 1", "Student 2", "Student 3"]
print(df)

print(df.index)
print(df.columns)

print(df.loc["Student 1" , "MS434"])
print(df.iloc[0,1])

print(df.loc["Student 2"])
print(df.iloc[1])

print(df["MS434"])
print(df.iloc[:,1])

print(df.iloc[:, -1])
print(df.iloc[-1])

df["Average"] = df.mean(axis=1)
display(df)

course_avg = df.mean()

high_achievers = df[df["Average"] > 85]

print("Student Averages:\n", df["Average"])
print("\nCourse Averages:\n", course_avg)
print("\nHigh Achievers:\n", high_achievers)

#Calculate highest score in MS434 
highest_score = df["MS434"].max()
print("\nHighest Score in MS434:\n", highest_score)

# Add new column called pass, mark true if students average is greater than or equal to 85
df["Pass"] = df["Average"] >= 85
print(df)

           MS211  MS434  MS531  MS253  MS334
Student 1     85     78     92     82     88
Student 2     90     81     89     91     94
Student 3     88     85     95     97     85
Index(['Student 1', 'Student 2', 'Student 3'], dtype='object')
Index(['MS211', 'MS434', 'MS531', 'MS253', 'MS334'], dtype='object')
78
78
MS211    90
MS434    81
MS531    89
MS253    91
MS334    94
Name: Student 2, dtype: int64
MS211    90
MS434    81
MS531    89
MS253    91
MS334    94
Name: Student 2, dtype: int64
Student 1    78
Student 2    81
Student 3    85
Name: MS434, dtype: int64
Student 1    78
Student 2    81
Student 3    85
Name: MS434, dtype: int64
Student 1    88
Student 2    94
Student 3    85
Name: MS334, dtype: int64
MS211    88
MS434    85
MS531    95
MS253    97
MS334    85
Name: Student 3, dtype: int64

           MS211  MS434  MS531  MS253  MS334  Average
Student 1     85     78     92     82     88     85.0
Student 2     90     81     89     91     94     89.0
Student 3     88     85     95     97     85     90.0

Student Averages:
 Student 1    85.0
Student 2    89.0
Student 3    90.0
Name: Average, dtype: float64

Course Averages:
 MS211      87.666667
MS434      81.333333
MS531      92.000000
MS253      90.000000
MS334      89.000000
Average    88.000000
dtype: float64

High Achievers:
            MS211  MS434  MS531  MS253  MS334  Average
Student 2     90     81     89     91     94     89.0
Student 3     88     85     95     97     85     90.0

Highest Score in MS434:
 85
           MS211  MS434  MS531  MS253  MS334  Average  Pass
Student 1     85     78     92     82     88     85.0  True
Student 2     90     81     89     91     94     89.0  True
Student 3     88     85     95     97     85     90.0  True

**Practice 5**

In [11]:
import pandas as pd
from IPython.display import display

#Load Excel data
excel_path = "MS434_Lab1_Assignment_Data.xlsx"
facility_df = pd.read_excel(excel_path, sheet_name="Facility Data")
demand_df = pd.read_excel(excel_path, sheet_name="Customer Demand")
distance_df = pd.read_excel(excel_path, sheet_name="Distance Matrix")

display(facility_df)
display(demand_df)
display(distance_df)

  Facility  Fixed Cost ($)  Capacity (units)
0       F1           12000                40
1       F2           14500                60
2       F3           13000                50
3       F4           15000                30
4       F5           12500                65
5       F6           13800                55
6       F7           14200                45

  Customer  Demand (units)
0       C1              18
1       C2              22
2       C3              25
3       C4              30
4       C5              27
5       C6              20
6       C7              15
7       C8              19
8       C9              23
9      C10              21

  Facility  C1  C2  C3  C4  C5  C6  C7  C8  C9  C10
0       F1  12  15  20  18  14  22  10  19  16   17
1       F2  13  16  21  19  15  23  11  20  17   18
2       F3  11  14  19  17  13  21   9  18  15   16
3       F4  14  17  22  20  16  24  12  21  18   19
4       F5  10  13  18  16  12  20   8  17  14   15
5       F6  15  18  23  21  17  25  13  22  19   20
6       F7  12  15  20  18  14  22  10  19  16   17

**Practice Problem 6**

In [12]:
import pandas as pd
from itertools import combinations
from docplex.mp.model import Model

# 1: Define distance matrix
df_distance = pd.DataFrame(
    [
        [0, 5, 6, 8],
        [5, 0, 13, 8],
        [6, 13, 0, 9],
        [8, 8, 9, 0]
    ],
    columns=[0, 1, 2, 3],
    index=[0, 1, 2, 3]
)

list_nodes = list(df_distance.index)  # save the nodes as a list
list_edges = [(i, j) for i in list_nodes for j in list_nodes if i < j]  # save edges as list

# 2: Define the model and decision variable x
mdl = Model(name="STSP_DFJ_CPLEX")  # create a CPLEX model
var_x = mdl.binary_var_dict(list_edges, name="x")

# 3: Define the constraints

# 3-1: Degree-2 constraint — each node has 2 incident edges
for j in list_nodes:
    incident = [e for e in list_edges if j in e]  # edges involving node j
    mdl.add_constraint(mdl.sum(var_x[i, j] for (i, j) in incident) == 2)

# 3-2: Subtour elimination — DFJ constraints

# 3-2-1: Create list of subsets (size 2 to n-1)
subsets = []
n = len(list_nodes)
for k in range(2, n):
    subsets.extend(combinations(list_nodes, k))

# 3-2-2: Add DFJ constraints based on each subset
for S in subsets:
    S = set(S)
    cut_edges = [(i, j) for (i, j) in list_edges if (i in S and j not in S) or (j in S and i not in S)]
    mdl.add_constraint(mdl.sum(var_x[i, j] for (i, j) in cut_edges) >= 2)

# 4: Objective — minimize total distance
mdl.minimize(
    mdl.sum(df_distance.loc[i, j] * var_x[i, j] for (i, j) in list_edges)
)

# 5: Solve and print
solution = mdl.solve(log_output=True)

if solution:
    print("Objective value (DFJ):", mdl.objective_value)
    print("Selected edges:")
    for (i, j) in list_edges:
        if var_x[i, j].solution_value > 0.5:
            print(f"{i} -- {j}")
else:
    print("No solution found.")

# Optional: Show the model formulation
print("\nMODEL FORMULATION:")
print(mdl.export_as_lp_string())

Version identifier: 22.1.1.0 | 2022-11-28 | 9160aff4d
CPXPARAM_Read_DataCheck                          1
Tried aggregator 1 time.
MIP Presolve eliminated 10 rows and 0 columns.
Reduced MIP has 4 rows, 6 columns, and 12 nonzeros.
Reduced MIP has 6 binaries, 0 generals, 0 SOSs, and 0 indicators.
Presolve time = 0.00 sec. (0.02 ticks)
Found incumbent of value 35.000000 after 0.00 sec. (0.02 ticks)
Probing time = 0.00 sec. (0.00 ticks)
Tried aggregator 1 time.
MIP Presolve eliminated 4 rows and 6 columns.
All rows and columns eliminated.
Presolve time = 0.01 sec. (0.00 ticks)

Root node processing (before b&c):
  Real time             =    0.03 sec. (0.03 ticks)
Parallel b&c, 10 threads:
  Real time             =    0.00 sec. (0.00 ticks)
  Sync time (average)   =    0.00 sec.
  Wait time (average)   =    0.00 sec.
                          ------------
Total (root+branch&cut) =    0.03 sec. (0.03 ticks)
Objective value (DFJ): 28.0
Selected edges:
0 -- 1
0 -- 2
1 -- 3
2 -- 3

MODEL FORMULATION:
\ This file has been generated by DOcplex
\ ENCODING=ISO-8859-1
\Problem name: STSP_DFJ_CPLEX

Minimize
 obj: 5 x_0_1 + 6 x_0_2 + 8 x_0_3 + 13 x_1_2 + 8 x_1_3 + 9 x_2_3
Subject To
 c1: x_0_1 + x_0_2 + x_0_3 = 2
 c2: x_0_1 + x_1_2 + x_1_3 = 2
 c3: x_0_2 + x_1_2 + x_2_3 = 2
 c4: x_0_3 + x_1_3 + x_2_3 = 2
 c5: x_0_2 + x_0_3 + x_1_2 + x_1_3 >= 2
 c6: x_0_1 + x_0_3 + x_1_2 + x_2_3 >= 2
 c7: x_0_1 + x_0_2 + x_1_3 + x_2_3 >= 2
 c8: x_0_1 + x_0_2 + x_1_3 + x_2_3 >= 2
 c9: x_0_1 + x_0_3 + x_1_2 + x_2_3 >= 2
 c10: x_0_2 + x_0_3 + x_1_2 + x_1_3 >= 2
 c11: x_0_3 + x_1_3 + x_2_3 >= 2
 c12: x_0_2 + x_1_2 + x_2_3 >= 2
 c13: x_0_1 + x_1_2 + x_1_3 >= 2
 c14: x_0_1 + x_0_2 + x_0_3 >= 2

Bounds
 0 <= x_0_1 <= 1
 0 <= x_0_2 <= 1
 0 <= x_0_3 <= 1
 0 <= x_1_2 <= 1
 0 <= x_1_3 <= 1
 0 <= x_2_3 <= 1

Binaries
 x_0_1 x_0_2 x_0_3 x_1_2 x_1_3 x_2_3
End

Actual Problem

In [ ]:
# 1. Import required libraries and the city data
import numpy
import pandas as pd
from geopy.distance import geodesic
from itertools import combinations
from docplex.mp.model import Model

city_df = pd.read_csv('lab_2_data.csv')

# 2. Calculate the distance matrix using WGS-84 system
#create a list of city coordinates
city_coords = list(zip(city_df['Latitude'], city_df['Longitude']))
city_names = city_df['City Name'].tolist()
n_cities = len(city_names)


distance_matrix = pd.DataFrame(0, index=city_names, columns=city_names)


# Fill the distance matrix, only upper triangle, as STSP is symmetric
for i, name_i in enumerate(city_names):
    for j, name_j in enumerate(city_names):
        if i < j:
            # Calculate geodesic distance and round to integer
            dist = int(geodesic(city_coords[i], city_coords[j]).km)
            distance_matrix.loc[name_i, name_j] = dist
            distance_matrix.loc[name_j, name_i] = dist  # Symmetric



# 3. Solve the STSP problem using CPLEX 

nodes = city_names
edges = [(i, j) for i in nodes for j in nodes if i < j]

mdl = Model(name="STSP_DFJ_CPLEX")

# Decision variables: x[i, j] = 1 if edge (i, j) is in the tour
x = mdl.binary_var_dict(edges, name="x")


# Degree-2 constraint: Each node has exactly 2 incident edges
for node in nodes:
    incident_edges = [e for e in edges if node in e]
    mdl.add_constraint(mdl.sum(x[e] for e in incident_edges) == 2)

# Subtour elimination (DFJ): For every proper subset S, at least 2 edges leave S
from itertools import chain, combinations as it_combinations

def all_subsets(iterable):
    "Returns all non-empty, non-full subsets"
    s = list(iterable)
    return chain.from_iterable(it_combinations(s, r) for r in range(2, len(s)))

for S in all_subsets(nodes):
    S = set(S)
    if len(S) < n_cities and len(S) > 1:
        cut_edges = [(i, j) for (i, j) in edges if (i in S and j not in S) or (j in S and i not in S)]
        mdl.add_constraint(mdl.sum(x[e] for e in cut_edges) >= 2)

# Objective: Minimize total tour distance
mdl.minimize(mdl.sum(distance_matrix.loc[i, j] * x[i, j] for (i, j) in edges))

# Solve the model
solution = mdl.solve(log_output=True)

# Output the results
if solution:
    print("Objective value - Total Distance:", int(mdl.objective_value))
    print("Selected edges in the optimal tour:")
    for (i, j) in edges:
        if x[i, j].solution_value > 0.5:
            print(f"{i} -- {j}")
    # Build adjacency dictionary from selected edges
    from collections import defaultdict, deque

    adj = defaultdict(list)
    for (i, j) in edges:
        if x[i, j].solution_value > 0.5:
            adj[i].append(j)
            adj[j].append(i)

    # Reconstruct the tour in order
    tour = []
    visited = set()
    current = nodes[0]  # start from the first city
    prev = None
    for _ in range(len(nodes)):
        tour.append(current)
        visited.add(current)
        # Go to the next unvisited neighbor
        neighbors = [n for n in adj[current] if n != prev]
        if neighbors:
            prev, current = current, neighbors[0]
        else:
            break
    tour.append(tour[0])  # complete the cycle

    print("\nOrdered tour:")
    print(" -> ".join(tour))

python(29914) MallocStackLogging: can't turn off malloc stack logging because it was not enabled.

Version identifier: 22.1.1.0 | 2022-11-28 | 9160aff4d
CPXPARAM_Read_DataCheck                          1
Tried aggregator 1 time.
MIP Presolve eliminated 63 rows and 0 columns.
Reduced MIP has 63 rows, 21 columns, and 672 nonzeros.
Reduced MIP has 21 binaries, 0 generals, 0 SOSs, and 0 indicators.
Presolve time = 0.01 sec. (0.41 ticks)
Found incumbent of value 4191.000000 after 0.02 sec. (0.84 ticks)
Probing time = 0.00 sec. (0.03 ticks)
Tried aggregator 1 time.
Reduced MIP has 63 rows, 21 columns, and 672 nonzeros.
Reduced MIP has 21 binaries, 0 generals, 0 SOSs, and 0 indicators.
Presolve time = 0.00 sec. (0.28 ticks)
Probing time = 0.00 sec. (0.03 ticks)
MIP emphasis: balance optimality and feasibility.
MIP search method: dynamic search.
Parallel mode: deterministic, using up to 10 threads.
Root relaxation solution time = 0.00 sec. (0.20 ticks)

        Nodes                                         Cuts/
   Node  Left     Objective  IInf  Best Integer    Best Bound    ItCnt     Gap

*     0+    0                         4191.0000        0.0000           100.00%
*     0+    0                         4013.0000        0.0000           100.00%
*     0     0      integral     0     3439.0000     3439.0000       19    0.00%
Elapsed time = 0.03 sec. (1.51 ticks, tree = 0.00 MB, solutions = 3)

Root node processing (before b&c):
  Real time             =    0.07 sec. (1.52 ticks)
Parallel b&c, 10 threads:
  Real time             =    0.00 sec. (0.00 ticks)
  Sync time (average)   =    0.00 sec.
  Wait time (average)   =    0.00 sec.
                          ------------
Total (root+branch&cut) =    0.07 sec. (1.52 ticks)
Objective value - Total Distance: 3439
Selected edges in the optimal tour:
Jacksonville -- Miami
Atlanta -- Charlotte
Atlanta -- Memphis
Charleston -- Charlotte
Charleston -- Miami
Birmingham -- Jacksonville
Birmingham -- Memphis

Ordered tour:
Charlotte -> Atlanta -> Memphis -> Birmingham -> Jacksonville -> Miami -> Charleston -> Charlotte